body {
    background-color: rgb(245, 240, 226);
}

nav ul a{
    color: gray;
}

.flashes h4 {
    line-height: 2;
    width: 30%;
    margin: auto;
    color: grey;
}

.card-image img {
    height: 500px;
}

.btn-small {
    margin: 15px 0px 15px 15px;
}

.bookmark {
    margin: 15px;
}

.bookmark_edit {
    margin: 0px;
}

#laughing-face {
    margin: 0px 10px 0px;
}

#frowning-face  {
    margin: 0px 10px 0px;
}

.social-links i {
    font-size: 30px;
}

/*-----MEDIA QUERIES-----*/

@media only screen and (max-width: 414px) {

    #hero-text {
        font-size: 20px;
    }

    .btn-small {
        width: 80%;
        font-size: 8px;
    }

    #fa-search {
        font-size: 15px;
    }

    #searchbox {
        font-size: 10px;
    }

    #counter {
        margin-right: 5px;
    }
}