body {
    background-color: #fafafa;
}

nav ul a{
    color: gray;
}

.flashes h4 {
    line-height: 2;
    width: 30%;
    margin: auto;
    color: grey;
}

.card-image img {
    height: 500px;
}

.btn-small {
    margin: 10px;
}

#counter {
    margin: 0px 10px 0px;
}

.social-links {
    margin: 20px;
}

.social-links i {
    font-size: 30px;
}

.copyright {
    padding-bottom: 20px;
}

/*-----MEDIA QUERIES-----*/

@media only screen and (max-width: 325px) {

    #hero-text {
        font-size: 20px;
    }

    .btn-small {
        width: 80%;
        font-size: 8px;
    }

    #fa-search {
        font-size: 15px;
    }

    #searchbox {
        font-size: 10px;
    }
    
    .btn {
            font-size: 10px;
        }

    #edit {
        padding: 0px;
    }

    #delete {
        padding: 0px;
    }

    #face-icons {
        margin-left: 50px;
    }

    #counter {
        margin-left: 15px;
    }
}

@media only screen and (min-width: 375px) {

    #hero-text {
        font-size: 20px;
    }

    .btn-small {
        width: 80%;
        font-size: 10px;
    }

    #fa-search {
        font-size: 15px;
    }

    #searchbox {
        font-size: 10px;
    }

    .btn {
        font-size: 10px;
    }

    #edit {
        padding: 0px;
    }

    #delete {
        padding: 0px;
    }

    #face-icons {
        margin-left: 70px;
    }

    #counter {
        margin-left: 15px;
    }
    
}

@media only screen and (min-width: 425px) {

    #hero-text {
        font-size: 20px;
    }

    .btn-small {
        width: 80%;
        font-size: 12px;
    }

    #fa-search {
        font-size: 15px;
    }

    #searchbox {
        font-size: 10px;
    }

    #edit {
        padding: 0px;
    }

    #delete {
        padding: 0px;
    }

    #face-icons {
        margin-left: 90px;
    }

    #counter {
        margin-left: 15px;
    }
    
}

@media only screen and (min-width: 760px) {

    #searchbox {
        font-size: 20px;
    }
    
    .btn {
        font-size: 14px;
    }

    #edit-delete {
        margin-left: -30px;
    }

    #edit {
        padding: 0px;
    }

    #delete {
        padding: 0px;
    }

    #face-icons {
        margin: 15px 0px 0px 30px;
    }

    #counter {
        margin-left: 15px;
    }
    
}

@media only screen and (min-width: 1020px) {

    .btn-small {
        width: auto;
    }

    #edit-delete {
        margin-left: -30px;
    }

    #edit {
        padding: 0px;
    }

    #delete {
        padding: 0px;
    }

    #face-icons {
        margin: 15px 0px 0px 30px;
    }

    #counter {
        margin-left: 15px;
    }
    
}

@media only screen and (min-width: 1435px) {

    #edit-delete {
        margin-left: -30px;
    }

    #edit {
        padding: 0px;
    }

    #delete {
        padding: 0px;
    }

    #face-icons {
        margin: 15px 0px 0px 30px;
    }

    #counter {
        margin: 0px 20px 0px;
    }
    
}