nav ul a{
    color: gray;
}

.flashes h4 {
    line-height: 2;
}

/*.bookmark {
   margin: 0px 10px 0px 10px;
}*/

.card-image img {
    height: 500px;
}

.btn-small {
    margin: 15px 0px 15px 15px;
}

.bookmark {
    margin: 15px;
}

.bookmark_edit {
    margin: 0px;
}

.material-icons {
    margin: 15px;
}