{% extends "base.html" %}
{% block content %}

    <h3 class="yellow-text text-darken-2 center-align">Submit A Joke</h3>

    <div class="row">
    <form class="col s12" method="POST" action="{{ url_for('add_joke') }}">
        <!--category selection-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix yellow-text text-darken-2"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose Joke Category</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name"></label>
            </div>
        </div>
        <!--joke description-->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="joke_description" name="joke_description" class="materialize-textarea validate" required></textarea>
                <label for="joke_description">Joke Description</label>
            </div>
        </div>
        <!-- credit joke to -->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="created_by" name="created_by" minlength="5" maxlength="15"
                    class="materialize-textarea validate" required></textarea>
                <label for="created_by">Created By: Name must be the same as logged in user to be able to edit this joke</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large yellow darken-2 text-shadow">Submit A Joke</button>
            </div>
        </div>
    </form>
  </div>

{% endblock %}