{% extends "base.html" %}
{% block content %}

    <h3 class="yellow-text text-darken-2 center-align">Edit Joke</h3>

    <div class="row">
    <form class="col s12" method="POST" action="{{ url_for('edit_joke', joke_id=joke._id) }}">
        <!--category selection-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix yellow-text text-darken-2"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled>Choose Joke Category</option>
                    {% for category in categories %}
                        {% if category.category_name == joke.category_name %}
                            <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                        {% else %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="category_name"></label>
            </div>
        </div>
        <!--joke description-->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="joke_description" name="joke_description" class="materialize-textarea validate" required>
                    {{- joke.joke_description -}}
                </textarea>
                <label for="joke_description">Joke Description</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                 <!-- cancel button -->
                    <a href="{{ url_for('get_jokes') }}" class="btn red text-shadow">
                        Cancel
                    </a>
                <button type="submit" class="btn yellow darken-1 text-shadow">Edit Joke</button>
            </div>
        </div>
    </form>
  </div>

{% endblock %}