{% extends "base.html" %}
{% block content %}


    <div class="row section">
            <!--joke category panel-->
            <div class="col s3">
                <div class="collection">
                    <a href="#!" class="collection-item black-text">Yo Momma Jokes</a>
                    <a href="#!" class="collection-item black-text">Word Play Jokes</a>
                    <a href="#!" class="collection-item black-text">Family Jokes</a>
                    <a href="#!" class="collection-item black-text">Food Jokes</a>
                    <a href="#!" class="collection-item black-text">Insult Jokes</a>
                    <a href="#!" class="collection-item black-text">Relationship Jokes</a>
                </div>
            </div>
            <div class="col s9">
                <ul class="collection">
                    {% for joke in jokes %}
                    <li class="collection-item avatar">
                        <p class="">{{ joke.joke_description }}</p><br>
                        <p class="">by: {{ joke.created_by }}</p><br>
                        <a href="" class="btn-small green darken-2">Edit</a>
                        <a href="" class="btn-small red darken-2">Delete</a>
                        <a href="#!" class="secondary-content"><i class="material-icons bookmark black-text">bookmark_border</i></a>
                        <a href="#!" class="face-icon"><i class="material-icons right">sentiment_very_satisfied</i></a>
                        <a href="#!" class="face_icon"><i class="material-icons right">sentiment_very_dissatisfied</i></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    

{% endblock %}