{% extends "base.html" %}
{% block content %}


    <div class="row section">
            <!--joke category panel-->
            <div class="col s3">
                <div class="collection">
                    <a href="#!" class="collection-item black-text">Yo Momma Jokes</a>
                    <a href="#!" class="collection-item black-text">Word Play Jokes</a>
                    <a href="#!" class="collection-item black-text">Family Jokes</a>
                    <a href="#!" class="collection-item black-text">Food Jokes</a>
                    <a href="#!" class="collection-item black-text">Insult Jokes</a>
                    <a href="#!" class="collection-item black-text">Relationship Jokes</a>
                </div>
            </div>
            <div class="col s9">
                <ul class="collection">
                    {% for joke in jokes %}
                    <li class="collection-item avatar">
                        <p><strong>{{ joke.joke_description }}</strong></p><br>
                        <p>by: {{ joke.created_by }}</p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    

{% endblock %}