{% extends "base.html" %}
{% block content %}

    <h3 class="center-align grey-text">Register</h3>

    <div class="row">
        <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row">
					<div class="input-field col s12">
						<input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="username">Username: 5 - 15 letters and/or numbers</label>
					</div>
                </div>
                <!-- passowrd -->
                <div class="row">
                    <div class="input-field col s12">	
                        <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password: 5 - 15 letters and/or numbers</label>
                    </div>
                </div>
                <!-- register -->
                <div class="row">
                    <button type="submit" class="col s4 s4 offset-s4 btn-small yellow darken-2 text-shadow">Register</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s6 offset-s3">
            <p class="center-align grey-text">Already Registered?
                <a href="{{ url_for('login') }}" class="yellow-text text-darken-2">Log In</a>
            </p>
        </div>
    </div>

{% endblock %}